<h1>Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @num_min%>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @num_max%>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
  </a>
